@charset 'utf-8';


/* default css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

li,
ol,
ul {
  list-style: none;
}


/* 회사로고 및 header 공통 부분 */
body {
  background-color: #fff;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px 5px;
}

.pageHeader .logo {
  object-fit: contain;
  height: 25px;
}

.pageHeader h1 {
  font-size: 12px;
  font-weight: normal;
}

.pageHeader span {
  font-size: 18px;
  font-weight: bold;
}

/* panel 이미지 슬라이드 부분 */
.panels {
  position: relative;
  width: 100%;
  height: 31%;
  margin-bottom: 20px;
  border-top: 5px solid #E51D21;
  border-bottom: 5px solid #E51D21;
}

.panels li {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  opacity: 0;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 2;
}

.panels li.on {
  opacity: 1;
}

.mainBg {
  width: 100%;
  opacity: 0.9;
}


/* 메인페이지 메뉴 버튼 부분 */
.menuContainer {
  position: absolute;
  z-index: 3;
  width: 100%;
  min-height: 42%;
  height: calc(69% - 83px);
}

.menuContainer .menuSection {
  position: relative;
}

.menuContainer .menuSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menuContainer .menuSection a {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: 5.5em;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 7px;
}

.menuContainer .menuSection a span {
  text-align: left;
  margin-left: 7px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.menuContainer .menuSection a i {
  font-size: 40px;
  color: #555;
  text-align: center;
  position: absolute;
  width: 40%;
  left: 50%;
  bottom: 10px;
}


/* subpage css*/
h2.pageTitle {
  position: relative;
  font-size: 17px;
  margin: 30px 0 10px 20px;
}

h2.pageTitle::after {
  position: absolute;
  top: -15px;
  left: -10px;
  content: '';
  width: 100%;
  height: 3px;
  background: #E51D21;
}

/* 제품성적서 page css */
.prodTestReptContents {
  max-height: calc(100vh - 260px);
  overflow: scroll;
}

.topInput {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.topInput div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

.topInput:last-child {
  border-bottom: none;
}

.topInput div .title,
label {
  padding: 10px;
}

.topInput div .productName {
  padding: 10px;
  width: 60%;
}

div input {
  border: none;
  width: 60%;
  height: 42px;
  padding: 10px;
}

.selectSection {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.selectSection select {
  border: none;
  width: 60%;
  background-color: #fff;
  font-size: 15px;
}

.selectSection div {
  display: flex;
  justify-content: space-between;
}

/* 홈화면의 발행버튼 */
.homeDownBtn {
  position: relative;
  margin: 20px;
  padding: 10px 20px;
  background: #666;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

/* 발행버튼 눌렀을 때 팝업 Sheet */
.downloadSheet {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 25%;
  min-height: 170px;
  background: #fff;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: bottom 0.3s ease-in-out;
  z-index: 100;
}

.downloadSheet.active {
  bottom: 0;
}

.popBtns {
  display: flex;
  justify-content: space-between;
}

.editBtn,
.popDownBtn {
  padding: 10px 20px;
  border-radius: 10px;
  margin: 3px 5px;
  font-size: 15px;
  border: none;
}

.popDownBtn {
  background: #007bff;
  color: #fff;
}

.sheetContent {
  padding: 10px;
}

.sheetContent li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  height: 50px;
  font-size: 0.98em;
  cursor: pointer;
}

.sheetContent li:hover {
  background: #f9f9f9;
}

/* 라디오 버튼 체크박스처럼 css */
.sheetContent li input[type="radio"] {
  display: none;
}

.sheetContent li input[type="radio"]+label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}

/* 선택된 상태 */
.sheetContent li input[type="radio"]:checked+label {
  background-color: #007bff;
  border-color: #007bff;
}

/* 선택 시 내부 체크 표시 */
.sheetContent li input[type="radio"]:checked+label::after {
  content: '\f00c';
  font-family: "Font Awesome 6 Free";
  display: block;
  font-size: 20px;
  width: 20px;
  height: 20px;
  font-weight: 900;
  color: #fff;
  position: relative;
  left: -9px;
  top: -9px;
}

.sheetContent li i {
  width: 20px;
  text-align: center;
  margin-right: 5px;
  font-size: 18px;
}

/* technical report 외 비슷한 페이지 공통 */
.downloadList {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  max-height: calc(100vh - 260px);
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: scroll;
}

.downloadList div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.downloadList input {
  width: 20px;
  margin-right: 5px;
}

/* 인증현황page 개별 css */
.thickType {
  padding-left: 35px;
  background: #eee;
  display: none !important;
  transition: display .3s;
}

.thickType.active {
  display: flex !important;
}

.thickType input {
  width: 70%;
}

.thickType input::placeholder {
  color: #ddd;
}


/* subpage 하단 아이콘 공통 */
.btns {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  ;
}

.icons {
  display: flex;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px 0px 15px 25px;
}

.home i {
  font-size: 28px;
  color: #555;
}

.home span {
  color: #555;
  font-size: 12px;
}

.youtube {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0px 15px 30px;
  filter: grayscale(0.2);
}

.youtubeIcon {
  width: 30px;
}

.youtube span {
  font-size: 12px;
  color: #555;
}

@media screen and (max-width: 320px) {
  .sheetContent li {
    font-size: 0.77em;
  }
}